<h1>Listing entries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Team</th>
    <th>Appexchange</th>
    <th>Github</th>
    <th>Video</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.name %></td>
    <td><%= entry.description %></td>
    <td><%= entry.team %></td>
    <td><%= entry.appexchange %></td>
    <td><%= entry.github %></td>
    <td><%= entry.video %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
